/* all custom CSS for the application */
#menu-img {
  height: 25px;
}

#logo-img {
  height: 40px;
}

#home-text {
  font-family: "sans-serif";
  font-size: 1.2em;
}

.topbar-right {
  text-align: right;
}

.topbar-left {
  text-align: left;
}

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .fc {
  position: relative;
  left: 50%;
}
